NASA wants to go to Mars! Before they build their rocket, NASA needs to track information about all of the planets in the Solar System.

In [2]:
# Connecting to the database
import pandas as pd
import sqlite3
conn = sqlite3.connect("planets.db")
cur = conn.cursor()

In [11]:
# here is overview of the planet's table 

data = cur.execute("""Select * From planets""").fetchall()
df = pd.DataFrame(data)
df.columns = [x[0]for x in cur.description]
df

   id     name       color  num_of_moons    mass  rings
0   1  Mercury        gray             0    0.55      0
1   2    Venus      yellow             0    0.82      0
2   3    Earth        blue             1    1.00      0
3   4     Mars         red             2    0.11      0
4   5  Jupiter      orange            68  317.90      0
5   6   Saturn       hazel            62   95.19      1
6   7   Uranus  light blue            27   14.54      1
7   8  Neptune   dark blue            14   17.15      1

In [13]:
# select just the name and color of each planet
cur.execute("""Select name, color From planets""").fetchall()

[('Mercury', 'gray'),
 ('Venus', 'yellow'),
 ('Earth', 'blue'),
 ('Mars', 'red'),
 ('Jupiter', 'orange'),
 ('Saturn', 'hazel'),
 ('Uranus', 'light blue'),
 ('Neptune', 'dark blue')]

In [15]:
# select all columns for each planet whose mass is greater than 1.00
cur.execute("""Select * From planets Where mass>1""").fetchall()

[(5, 'Jupiter', 'orange', 68, 317.9, 0),
 (6, 'Saturn', 'hazel', 62, 95.19, 1),
 (7, 'Uranus', 'light blue', 27, 14.54, 1),
 (8, 'Neptune', 'dark blue', 14, 17.15, 1)]

In [17]:
# Select the name and mass of each planet whose mass is less than or equal to 1.00
cur.execute("""Select name, mass From planets Where mass<= 1""").fetchall()

[('Mercury', 0.55), ('Venus', 0.82), ('Earth', 1.0), ('Mars', 0.11)]

In [26]:
#Select the name and color of each planet that has more than 10 moons
cur.execute("""Select name, color From planets Where num_of_moons>10;""").fetchall()

[('Jupiter', 'orange'),
 ('Saturn', 'hazel'),
 ('Uranus', 'light blue'),
 ('Neptune', 'dark blue')]

In [27]:
# Select the planet that has at least one moon and a mass less than 1.00
cur.execute("""Select * From planets Where num_of_moons>= 1 and mass<1;""").fetchall()

[(4, 'Mars', 'red', 2, 0.11, 0)]

In [22]:
#Select the name and color of planets that have a color of blue, light blue, or dark blue
cur.execute("""SELECT name, color FROM planets WHERE color ="blue" OR color ="light blue" OR color ="dark blue";""" ).fetchall()

[('Earth', 'blue'), ('Uranus', 'light blue'), ('Neptune', 'dark blue')]

In [28]:
# Select the name, color, and number of moons for the 4 largest planets that don't have rings and order them from largest to smallest
cur.execute("""Select name, color, num_of_moons from planets Where rings = 0 Order By mass Desc Limit 4;""").fetchall()

[('Jupiter', 'orange', 68),
 ('Earth', 'blue', 1),
 ('Venus', 'yellow', 0),
 ('Mercury', 'gray', 0)]